.OrderConfirmation{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1001;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation-container{
    position: fixed;
    width: 450px;
    height: fit-content;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
}

.confirmation-container .image{
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
}

.confirmation-container .heading{
    margin: 0;
    margin-bottom: 10px;
    color: var(--rose-900);
}

.confirmation-container .paragraph{
    margin: 0;
    margin-bottom: 25px;
    color: var(--rose-500);
}

.cart-summary{
    background-color: var(--rose-50);
    padding: 25px;
    margin-bottom: 35px;
    border-radius: 10px;
}

.cart-summary-items{
    max-height: 35vh;
    overflow: auto;
    padding: 0 20px 25px 0;
}

.cart-summary-item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--rose-100);
    padding: 5px 0;
}

.cart-item-info{
    display: flex;
}

.cart-item-image{
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

.wrapper{
    margin-left: 20px;
}

.cart-item-heading{
    color: var(--rose-900);
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.quantity-and-unit-price{
    display: flex;
}

.quantity-and-unit-price .quantity,
.quantity-and-unit-price .unit-price{
    margin: 0; 
    margin-top: 10px;
    font-size: 14px;
}
    

.quantity-and-unit-price .quantity{
    color: var(--red);
    font-weight: 600;
    margin-right: 15px;
 
}

.quantity-and-unit-price .unit-price{
    color: var(--rose-500);
}

.cart-summary-item .price-in-general{
    color: var(--rose-900);
    font-weight: 700;
}

.order-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.order-total-txt{
    color: var(--rose-500);
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.order-total-price-summary{
    color: var(--rose-900);
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.new-order-button{
    width: 100%;
    padding: 10px;
    background-color: var(--red);
    color: var(--white);
    font-family: var(--main-font);
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

@media (max-width: 576px) {
    .confirmation-container{
        width: 95%;
    }
}
